# Copyright 2020 Nokia
# Licensed under the BSD 3-Clause License.
# SPDX-License-Identifier: BSD-3-Clause

username: admin
password: admin
port: 6030
timeout: 10s
skip-verify: true
encoding: json_ietf

targets:
  router-edge:
    insecure: true
    
subscriptions:    
  eos_interface_stats:
    paths:
      - /interfaces/interface[name=Ethernet1]/state/counters
      - /interfaces/interface[name=Ethernet2]/state/counters
    mode: stream
    stream-mode: sample
    sample-interval: 5s

outputs:
  file_output:
    type: file
    filename: /data/ifaces-counters.json
    format: json
    split-events: true
